.carousel {
  width: 100%;
  height: 150vh;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .carousel {
    height: 100vh;
  }
}

.carousel-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1.2s ease;
  z-index: 1;
}

.carousel-image.active {
  opacity: 1;
  z-index: 2;
}
