.tew-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: beige;
  color: black;
  padding: 1rem 2rem;
  position: relative;
}

.header-left .hamburger {
  font-size: 24px;
  cursor: pointer;
}

.side-menu {
  position: absolute;
  top: 60px;
  left: 20px;
  background: black;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}

.header-center {
  font-size: 24px;
  font-weight: bold;
  font-family: serif;
}

.cart-icon {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.mobile-menu {
  background-color: beige;
  padding: 20px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile-menu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
}
