.hero-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 10px;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
}

.shop-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  font-size: 14px;
}
